<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
          <h3 class="text-center"> Create Product </h3>
          <hr />
          <div class="card-body">
              <form >

                      <label>product name</label>

                      <input type="text" class="form-control"   id="name"  [(ngModel)]="Product.name"
                          name="name">
                          <br>

                      <label>description</label>
                      <input type="text" class="form-control"  id="description"  [(ngModel)]="Product.description"
                          name="description">
                          <br>

                      <label>type</label>

                      <select type="text" class="form-control"  id="type"  name="type" [(ngModel)]="Product.type" >
                        <option [value]="zero">out of stock</option>
                        <option [value]="one">available</option>
                      </select>

                      <br>
                      <label>sales Price</label>
                      <input type="text" class="form-control"  id="description"  [(ngModel)]="Product.salesPrice"
                          name="SalesPrice">

                       <br>
                      <label>Purchase Price</label>
                      <input type="text" class="form-control"  id="description"  [(ngModel)]="Product.purchasePrice"
                              name="PurchasePrice">
                          <br>
                          <label>DefualtStock</label>
                          <input type="text" class="form-control"  id="description"  [(ngModel)]="Product.defualtStock"
                              name="DefualtStock">

                  <button class="btn btn-info mt-3" type="button" (click)="AddProduct(Product)">submit</button>

              </form>
          </div>
      </div>
  </div>
</div>
