<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
          <h3 class="text-center"> Create Product </h3>
          <hr />
          <div class="card-body">
              <form   (ngSubmit)="AddProduct(ProductAddForm)" [formGroup]="ProductAddForm" enctype="multipart/form-data"  >

                      <label>product name</label>

                      <input type="text" class="form-control"   id="name"  formControlName="name"
                          name="name">



                      <label>description</label>
                      <input type="text" class="form-control"  id="description"  formControlName="description"
                          name="description">


                      <label>type</label>

                      <select type="text" class="form-control"  id="type"  name="type" formControlName="type" >
                        <option value="true">out of stock</option>
                        <option value="false">available</option>
                      </select>



                    <label>photo</label>

                    <input type="file" class="form-control" id="photo" (change)="onChange($event)" formControlName="image" name="image" >



                  <br />
                  <button class="btn btn-info mt-3" type="submit" >submit</button>

              </form>
          </div>
      </div>
  </div>
</div>
